.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.heading {
  color: #326a9d;
  font-size: 25px;
  font-family: 'Roboto';
}

.paragraph {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
}

.show-more-button {
  background-color: #ffffff;
  font-size: 20px;
  height: 30px;
  width: 48px;
  color: #326a9d;
  border: 1px solid #326a9d;
}

.banner-card-item {
  border: 1px solid #326a9d;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 100%;
  max-width: 1140px;
  list-style-type: none;
}
